
@keyframes riseFall {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
.logo {
  width: 150px;
  margin-bottom: 20px;
}

.animated-heading {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 3rem;
  margin: 20px 0 30px; /* Updated margin for spacing */
  animation: riseFall 3s infinite alternate;
}

.test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.question-container {
  width: 80%;
  margin: 20px 0;
  padding: 20px;
  background-color: #030022;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.controls-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
}

.btn, .dropdown, .btn-primary {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-info {
  background-color: #17a2b8;
  color: white;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu .dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f1f1f1;
}

.difficulty-selector:hover .dropdown-menu {
  display: block;
}


.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
}


.difficulty-selector {
  position: relative; 
}


.dropdown-toggle {
  cursor: pointer;
  background-color: #6c757d; 
  color: white; 
  padding: 10px 20px; 
  border-radius: 5px;
  border: none; 
}


.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: #f9f9f9; 
  min-width: 160px; 
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; 
}


.dropdown-menu .dropdown-item {
  color: black; 
  padding: 12px 16px; 
  text-decoration: none;
  display: block;
}


.dropdown-menu .dropdown-item:hover {
  background-color: #f1f1f1;
}


.difficulty-selector:hover .dropdown-menu {
  display: block;
}
.loading-gif {
  width: 50px; 
  height: auto;
}
.typed-response-textarea {
  width: 50%; 
  height: 200px; 
  resize: vertical; 
  padding: 10px; 
  border-radius: 5px;
  border: 1px solid #020000;
  font-size: 16px;
  box-sizing: border-box; 
  margin: 0 auto; 
  display: block;
  background-color: black;
  color: white;
  }